.mainContainer {
  height: 100%;
  display: flex;
}

.tabHeader {
  display: flex;
  padding-left: 2%;
  color: white;
}

.card {
  position: relative;
  box-sizing: border-box;
  background: #ffeaa760;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  max-width: 15%;
  /* set a max-width for the card */
  width: max-content;
  left: 22.5%;
  margin-right: 5%;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
  background-color: #000000;
  color: #ffeba7;
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card img {
  width: 100%;
}

.popup-content, .popup-EFcontent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 9999;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(199, 8, 8);
  padding: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.close:hover {
  background-color: red;
}


.popup-content select {
  padding: 5px;
  margin-bottom: 10px;
}

.popup-content option {
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

select {
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.enroll {
  background-color: #24be26;
  padding: 5px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.enroll {
  background-color: #29d629;
}