nav {
    display: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #dec16373;
    width: 100%;
    box-sizing: border-box;
  }
  
  nav h1 {
    margin: 0;
  }
  
  nav p {
    margin-top:10;
    margin-bottom: 0;
    font-size: small;
  }
  nav a {
    margin-right: 1rem;
    color: #333;
    text-decoration: none;
  }
  
  nav button {
    background-color: rgb(199, 8, 8);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: red;
  }
  
  nav a:hover {
    color: white;
  }
  